{% extends 'base.html' %}

{% block title%}
Create a Receipt
{% endblock title %}

{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </nav>
</header>
<main>
    <div>
        <h1>Create Receipt</h1>
        <form method="post">
            {% csrf_token %}
            {{ receipt_form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
