{% extends 'base.html' %}

{% block title%}
Create Account
{% endblock title %}

{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'create_account' %}">Create Account</a></li>
        </ul>
    </nav>
</header>
<main>
    <div>
        <h1>Create Account</h1>
        <form method="post">
            {% csrf_token %}
            {{ account_form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
